html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: #1B3045;
    color: #E8EEF2;
    font-family: "Trebuchet MS", Arial, sans-serif;
}

h1,
h2,
h3 {
    color: #F2F5F7;
}

/* Normal text */
p,
td {
    color: #D6E0E6;
}

/* Table headers */
th {
    color: #FFFFFF;
}
* {
    box-sizing: border-box;
}