#character {
  width: 100%;
  height: 20%;

  background-size: cover;
  background-position: center;
 

  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 3px 3px black ;
  word-wrap: break-word;
  

  border: 3px solid;
  border-radius: 6px;
  cursor: pointer;

 
}

#character:hover {
  filter: brightness(60%)
}
