.spireHeader {
    position: fixed;
    left: 0;
    top: 0;

    width: 20%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px

}

.spireHeader img {
    width: 75%;
}
.characters {
    align-items:start;
    width: 100%;
}