#runTable {
    width: 100%;
    flex: 1;
    min-height: 0;

    overflow-y: auto;
}

#runTable table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#runTable th {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
}

#runTable th,
#runTable td {
    width: 20%;
    text-align: center;
}