#runTable {
    width: 100%;
    flex: 1;
    min-height: 0;

    overflow-y: auto;
}

#runTable table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#runTable th {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
}

#runTable th,
#runTable td {
    width: 20%;
    text-align: center;
}

#top_history {
    display: flex;
    align-items: center;
    width: 100%;
}

#top_history h2{
    width: 50%;
}

select {
    margin-left: 5%;
    text-align: center;
}

#select {
    text-align: end;
}